/* Integradion fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Variables globales */
:root {
    --borde-color: #CCCCCC;
    --texto-color: #171717;
    --fondo-color: #FFFFFF;

    --color-html : #E93E30;
    --color-css : #299ED5;
    --color-js : #F7E018;
    --color-bootstrap : #563D7C;
    --color-vue : #67C770;
    --color-react : #292C33;

    
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;
    --fuentePrincipal : 'Poppins', sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
    font-family: var(--fuentePrincipal);
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


/* Globales */
body {
    background-color: var(--fondo-color);
}
  
  a {
    text-decoration: none;
    color: var(--texto-color);
  }



  .body {
    max-width: 1200px;
    margin: 0 auto;
  }

  .linea-divisora {
    border: 1px solid var(--borde-color);
    margin: 3rem 0;
  }

  /* Header */
  .header {
    display: flex;
    justify-content: start;
    padding: 1rem 0;
    gap: 2rem; /* separacion forma nueva */
    align-items: center;
    width: 90%;
  }
  .header__logo {
    margin: 3rem;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    border: 3px solid var(--color-vue);
  }
  .header__title {
    font-size: 3rem;
    font-weight: var(--font-bold);
  }


/* Seccion Post Novedades */
.post {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.post__novedades,
.post__populares {
  font-size: 3rem;
  font-weight: var(--font-bold);
  margin: 2rem 1rem;
}



/* Post Principal */
.post__principal {
  flex-basis: calc(60% - 1rem);
  gap: 2rem;
}
.post__imagen {
  width: 100%;
  height: 50%;
  border-radius: 2rem;
  padding: 1rem;

}
.post__informacion {
  display: flex;
  gap: 2rem;
  margin: 1rem;
  flex-wrap: wrap;
}

.post__fecha {
  font-size: 2rem;
  font-weight: var(--font-medium);
  margin: 0;
}
.post__titulo {
  width: 90%;
  height: 7rem;
  font-size: 2.5rem;
  font-weight: var(--font-bold);
  margin: 0;
}
.post__logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid var(--color-vue);
  margin: 0;
}
.post__texto {
  display: inline;
  font-size: 2rem;
  font-weight: var(--font-medium);
  text-align: left;
}



/* secciion asside post */
.post__asside {
  flex-basis: calc(40% - 1rem);
  gap: 2rem;
}
/* Post Principal */
.asside__principal {
  display: grid;
  grid-template-areas: "izquierda derecha";
  grid-template-columns: 60% 40% ;
  grid-auto-flow: column;
  column-gap: 1rem;
  align-items: center;
}
.asside__imagen {
  grid-area: izquierda;
  width: 100%;
  border-radius: 2rem;
  padding: 1rem;
}
.asside__informacion {
  grid-area: derecha;
  padding: 1rem;
  align-items: center;
}

.asside__fecha {
  font-size: 1.5rem;
  font-weight: var(--font-regular);
  margin: 0;
}
.asside__titulo {
  font-size: 2rem;
  font-weight: var(--font-bold);
  margin: 0;
}
.asside__logo {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  border: 3px solid var(--color-vue);
  margin: 0;
}
.asside__texto {
  display: inline;
  font-size: 1.5rem;
  font-weight: var(--font-medium);
  text-align: left;
}





 






  /* seccion-dos */
  .seccion-dos {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
   /*  grid-template-rows: 1fr 1fr; */
    grid-template-areas: 
    "popular categorias"
    "popular categorias";
    gap: 5rem;
  }

  /* Populares */
  .seccion__populares {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  /* Widget categorías */
.categoria {
  margin: 0 1rem;
}

.categoria__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 3rem 0;
  width: 90%;
  height: 10rem;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

.box__img {
  height: 100%;
}

.box__title {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
}

.box__title--ver {
  color: var(--texto-color);
  font-size: 2rem;
  font-weight: var(--font-medium);
}

.categoria__box--html {
  background-color: var(--color-html);
}

.categoria__box--css {
  background-color: var(--color-css);
}

.categoria__box--js {
  background-color: var(--color-js);
}

.categoria__box--react {
  background-color: var(--color-react);
}

.categoria__box--vue {
  background-color: var(--color-vue);
}

.categoria__box--bootstrap {
  background-color: var(--color-bootstrap);
}
.categoria__box--titulo {
  padding: 0;
}





 /* Footer */
 .footer {
  display: flex;
  padding: 1rem 0;
}
.footer__start {
  display: flex;
  justify-content: start;
  padding: 1rem 0;
  gap: 2rem;
  align-items: center;
  width: 90%;
}
.footer__end {
  display: flex;
  justify-content: end;
  padding: 1rem 4rem;
  gap: 2rem; /* separacion forma nueva */
  align-items: center;
  width: 90%;
}
.footer__logo {
  margin: 3rem;
  width: 80px;
  height: 80px;
  border-radius: 10%;
  border: 3px solid #67C770;
}
.footer__title {
  margin: auto 0;
  font-size: 3rem;
  font-weight: var(--font-bold);
}

.footer__text {
  font-size: 3rem;
  font-weight: var(--font-normal);
}
.footer__text--bold {
  font-size: 2rem;
  font-weight: var(--font-normal);
}
.footer__text--bold:hover {
  font-size: 2rem;
  font-weight: var(--font-bold);
}